.header p {
    text-align: center;
    font-family: serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.2cm;
    color: navy;
    margin-top: 30px;
}

.form {
    /* background-color: lightblue; */
    text-align: center;
    width: 100%;
    height: 600px;
    padding-top: 20px;
}

table {
    text-align: center;
    width: 100%;
    display: initial;
    line-height: 100px;
}

/* th {
    padding: 40px;
    text-align: center;
    border-bottom: solid 1px rgb(233, 232, 232);
} */

tr {
    text-align: center;
    border-bottom: solid 1px rgb(228, 227, 227);
}

th img {
    margin-left: 10px;
}
tr th {
    text-align: center;
}
tr td {
    text-align: center;
    padding: 8px 60px 0px 50px;
}
.sheet {
    line-height: 100px;
    margin-right: 100px;
}
